/*li .glyphicon {
    margin-right: 10px;
}*/


/* Highlighting rules for nav menu items */


/*li.link-active a,
li.link-active a:hover,
li.link-active a:focus {
    background-color: #4189C7;
    color: white;
}*/

.main-nav {
    display: flex;
    flex-direction: column;
    background-color: gold;
}

.menu-items {
    display: flex;
    flex-direction: column;
    width: 200px;
}

.menu-items .menu-item {
    flex: 1;
    background: #e0ddd5;
    padding: 10px;
}

.menu-items .menu-item.link-active {
    background-color: lightskyblue;
}

.menu-items .menu-item:hover {
    background-color: lawngreen;
}

.menu-item .glyphicon {
    margin-right: 10px;
}