<h2>Hero Detail</h2>
<h3><i>FormControl in a FormGroup</i></h3>
<form [formGroup]="heroForm" novalidate>
  <div class="form-group">
    <label class="center-block">Name:
      <input class="form-control" formControlName="name">
    </label>
    child1:
    <div formGroupName="child1">
        <input formControlName="a">
        <input formControlName="b">
    </div>
    child2:
    <div formGroupName="child2">
        <input formControlName="a">
        <input formControlName="b">
    </div>
    -- adres 1
    <hero-child [fg]="heroForm" fgn="x"></hero-child>
    -- adres 2
    <hero-child [fg]="heroForm" fgn="y"></hero-child>
  </div>
</form>

<p>Form value: {{ heroForm.value | json }}</p>
<p>Form status: {{ heroForm.status | json }}</p>